<!-- <main class="page">
<section class="home-page">
  <section class="home-background">
      <div class="title-options">
          <div class="home-title">
              <span>Medical records made simple</span>
          </div>
          <div class="home-options-mobile">
              <span id="color-red-button">Test Drive</span>
              <span>Custom Order</span>
          </div>
      </div>
      <section class="model-footer">
          <section class="model-footer-container">

              <div class="model-footer-name">CaduRx</div>
              <div class="model-footer-options">
                  <span class="color-red-text">Request Financing & Trade In</span>
                  <button type="button" id="color-red-button" class="model-footer-button">Sign Up</button>
                  <button type="button" class="model-footer-button">Take The Tour</button>
                  <button type="button" class="model-footer-button">Up Front Pricing</button>
              </div>
          </section>
      </section>
  </section>
</section>
<section class="section-container">
  <div class="container">
    <h1>Performance and safety refined</h1>
    <p class="description">
      Model S is designed from the ground up to be the safest, most exhilarating sedan on the road. With unparalleled performance delivered through Tesla's unique, all-electric powertrain, Model S accelerates from 0 to 60 mph in as little as 2.5 seconds. Model S comes with Autopilot capabilities designed to make your highway driving not only safer, but stress free.
    </p>
    <div class="section-features">
      <div class="feature feature-headlight">
        <div class="feature-img" id="lights">

        </div>
        <h4>Adaptive Lighting</h4>
        <p>
          Model S now features full LED adaptive headlamps. Besides enhancing the already great styling, they also boost safety: 14 three-position LED dynamic turning lights improve visibility at night, especially on winding roads.
        </p>
      </div>
      <div class="feature feature-polution-free">
        <div class="feature-img" id="bio">

        </div>
        <h4>Bio-Weapon Defense Mode</h4>
        <p>
          Model S now features a Medical grade HEPA air filtration system, which removes at least 99.97% of particulate exhaust pollution and effectively all allergens, bacteria and other contaminants from cabin air. The bioweapon defense mode creates positive pressure inside the cabin to protect occupants.
        </p>
      </div>
    </div>
  </div>

</section>
<section class="section-container">
  <div class="container auto-pilot-section">
    <h1>Auto Pilot</h1>
    <p class="description">
      Autopilot allows Model S to steer within a lane, change lanes with the simple tap of a turn signal, and manage speed by using active, traffic-aware cruise control. Digital control of motors, brakes, and steering helps avoid collisions from the front and sides, and prevents the car from wandering off the road. Autopilot also enables your car to scan for a parking space and parallel park on command. And our new Summon feature lets you "call" your car from your phone so it can come greet you at the front door in the morning.
    </p>
    <div class="auto-display">

    </div>
  </div>

</section>
</main> -->
<main role="main">
    <section class="home-background">
        <section class="home-main-info">
            <div class="home-title">
              <span>Medical records made simple</span>
            </div>
            <div class="med-text">
                <p class="max-text">
                  <span>CaduRx thefull featured, affordable, cloud-based practice management and medical record system.</span>
                    <span></span>
                </p>
            </div>
            <div class="small-text">
                <p>
                </p>
            </div>
            <section class="mobile-order-buttons">

                <button class="button-option" type="button" name="button"><span class="button-font">CaduRx</span></button>
                <button class="button-option" type="button" name="button"><span class="button-font">Pricing</span></button>
                <button class="button-option" type="button" name="button"><span class="button-font">Read More</span></button>

            </section>
        </section>

    </section>
    <footer>
        <section class="footer-section">
            <span class="footer-link">CaduRx 2016 </span>
            <span class="footer-link">Privacy & Legal </span>
            <span class="footer-link">Contact </span>
            <span class="footer-link">Careers </span>
            <span class="footer-link">Forums </span>
            <span class="footer-link">Locations </span>
            <span class="footer-link">Flag</span>
        </section>
    </footer>

</main>
