<header class="nav-bar">
    <section class="nav-body">
        <section class="cadu-logo" ui-sref="home">
        </section>
        <section class="hamburger-menu"> </section>
        <section class="left-nav hamburger-menu">
          <div class="nav-bold" ui-sref="models"> Home   </div>
          <div class="nav-bold" ui-sref="modelx"> Pricing   </div>
          <div class="nav-bold" ui-sref="model3"> Features   </div>
          <div class="nav-bold"> Blog   </div>
          <div class="nav-bold"> Demo   </div>
        </section>
        <section class="right-nav">
          <div class="nav-light"> UPDATES   </div>
          <div class="nav-light"> SUPPORT   </div>
          <div class="nav-light"> FIND US   </div>
          <div class="nav-light"> Contact </div>
          <div class="nav-light"> About Us  </div>
        </section>
    </section>
</header>
